<footer class="page-footer bg-dark text-white">

  <div class="container text-center text-md-left mt-5">
    <div class="row">
      <div class="col-md-4 mx-auto mb-4">
        <h4 class="text-uppercase font-weight-bold"><u>Top Destinations</u></h4>
        <hr />
        <p>Coxs bazar sea beach</p>
        <p>Rangamati</p>
        <p>Bandarban</p>
        <p>Sylhet</p>
        <p>Cummilla</p>
        <p>Kuakata</p>
        <p>Sundarbans</p>
        <p>Kishoregan</p>
        <p>Bogura</p>
      </div>
      <div class="col-md-4 mx-auto mb-4">
        <h4 class="text-uppercase font-weight-bold"><u>Services</u></h4>
        <hr />
        <p>About Us</p>
        <p>Corporate</p>
        <p>Partner with us</p>
        <p>Earn money with Affiliate</p>
        <p>Shop</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Refund & Return Policy</p>
      </div>
      <div class="col-md-4 mx-auto mb-4">
        <h4 class="text-uppercase font-weight-bold"><u>Contacts</u></h4>
        <hr />
        <p>+880 1930 192991</p>
        <p>selimshaikhidb42@gmail.com</p>
        <p>IsDB Bhaban, Agargaon</p>
        <p>Dhaka- 1216</p>
      </div>
    </div>
  </div>

  <div>
    <p class="text-center">&copy; All Right Reserved @ Selim Tour &amp; Travel Agency </p>
  </div>
</footer>
